/* Rrose layout */

.leaflet-rrose {
    position: absolute;
}

.leaflet-rrose-content{
    margin: 0px;
    min-width: 300px;
    line-height: 1.4;
}

.leaflet-rrose-tip-container {
    margin: 0 auto;
    width: 40px;
    height: 20px;
    position: relative;
    overflow: hidden;
}

.leaflet-rrose-tip-container-e {
    margin: 0 auto;
    position: absolute;
    left: -28px;
    top: 50%;
    transform: rotate(270deg);  
    width: 40px;
    height: 20px;
    overflow: hidden;
}

.leaflet-rrose-tip-container-w {
    margin: 0 auto;
    position: absolute;
    right: -30px;
    top: 50%;
    transform: rotate(90deg);
    width: 40px;
    height: 20px;
    overflow: hidden;
}

.leaflet-rrose-tip-container-se, .leaflet-rrose-tip-container-ne {
    margin-left: 0;
}

.leaflet-rrose-tip-container-sw, .leaflet-rrose-tip-container-nw {
    margin-right: 0;
}

.leaflet-rrose-tip {
    width: 15px;
    height: 15px;
    padding: 1px;

    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.leaflet-rrose-tip-n {
    margin: -8px auto 0;
}

.leaflet-rrose-tip-s {
    margin: 11px auto 0;
}

.leaflet-rrose-tip-s {
    margin: 11px auto 0;
}

.leaflet-rrose-tip-e {
    margin: 11px auto 0;
}

.leaflet-rrose-tip-w {
    margin: 11px auto 0;
}

.leaflet-rrose-tip-se {
    margin: 11px 11px 11px -8px; overflow: hidden;
}

.leaflet-rrose-tip-sw {
    margin: 11px 11px 11px 32px; overflow: hidden;
}

.leaflet-rrose-tip-ne {
    margin: -8px 11px 11px -8px; overflow: hidden;
}

.leaflet-rrose-tip-nw {
    margin: -8px 11px 11px 32px; overflow: hidden;
}


/* Visual appearance */

.leaflet-rrose-content-wrapper, .leaflet-rrose-tip {
	color: #fff;
    background: #333;
    border-radius: 0px;
    opacity: 0.95;
    padding: 1px;
}

a.leaflet-popup-close-button {
    font-size: 18px;
    margin: 0px;
    padding: 6px 0px 0px 0px;
    height: 29px;
    width: 29px;
    color: #fff;
    border-left: 1px solid;
}
