html {
  background-color: white;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.map {
  width: 800px; 
  height: 600px; 
  border: 1px solid #ccc;
  }

.hover-bubble {
  text-align: center;
}
